.stockSearch::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .stockSearch::-webkit-scrollbar-track {
    background: #f1f1f1;        /* color of the tracking area */
  }
  
  .stockSearch::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #e6e6e6;  /* creates padding around scroll thumb */
  }