.divider {
    color: rgba(0, 0, 0, 0.08);
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto;
    width: 100%;
}

.divider::before {
    content: "";
    width: 3.125rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
    margin: 0px 15px 11px 0px;
}

.divider::after {
    content: "";
    width: 3.125rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
    margin: 0px 0px 11px 15px;
}