.fileUpload {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fileUpload:hover {
    background-color:  #e4e9f1;
    border-radius: 5px;
}